body{
border: 10px 20px 30px;
  background-color:rgb(137, 198, 219);
  text-align: center;


}

.todo-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  text-align: center;
}

.input-container {
  display: flex;
  gap: 10px;
}

input {
  padding: 5px;
}

button {
  row-gap: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  list-style-type:circle;
  padding: 10px;
}

li {
  list-style-type: disc;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
